@model MyClass.Models.Customer

@{
    ViewBag.Title = "Xoá khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <h3 class="box-title">Xoá Khách Hàng "@Html.DisplayFor(model => model.FirstName)" ?</h3>
    <p class="text-muted">Add class <code>.Customer </code></p>
    <a href="@Url.Action("Index", "Customer")" class="btn btn-sm btn-secondary text-light"><i class="fa fa-arrow-circle-left"></i> Về danh sách</a>
    <br />
    <br />
    <h3 class="box-title">Bạn chắc chắn muốn xoá khách hàng" này ?</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-sm btn-danger text-light" type="submit" name="Delete"><i class="fa fa-trash"></i> Xoá</button>
        </div>
    </div>
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>
    @*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-sm btn-danger text-light" type="submit" name="Delete"><i class="fa fa-trash"></i> Xoá</button>
        </div>
    </div>*@

}


