@model MyClass.Models.Hotel

@{
    ViewBag.Title = "Xem thông tin khách sạn";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


        
                        <h3 class="box-title">Thông Tin Chi Tiết Khách Sạn "@Html.DisplayFor(model => model.Name)"</h3>
                        <p class="text-muted">Add class <code>.Hotel </code></p>
                        <a href="@Url.Action("Index","Hotel")" class="btn btn-sm btn-secondary text-light"><i class="fa fa-arrow-circle-left"></i> Về danh sách</a>
                        <p></p>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Address)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Address)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PhoneNumber)
                            </dd>

                        </dl>
                        <p>
                            <a href="@Url.Action("Edit","Hotel", new { id = Model.Id })" class="btn btn-sm btn-success text-light"><i class="fa fa-edit"></i> Chỉnh sửa</a>
                        </p>
                    